*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #666566;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: ce;
}

a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #232224;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.9;
}

.btn {
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  border-radius: 16px;
  padding: 12px 32px;
  transition: 0.3s ease;
  box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13), 0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066), 0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065), 0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);
  color: #FEFBFF;
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.769896px 1.40393px rgba(169, 80, 196, 0.094071);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #EDEAEF;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 999;
  transition: 0.5s ease;
}

.active-header {
  background-color: #F7F2FA;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.3750076294px 24.1176586151px rgba(169, 80, 196, 0.05), 0px 2.3096878529px 3.6230399609px rgba(169, 80, 196, 0.03), 0px 6.3859915733px 10.017241478px rgba(169, 80, 196, 0.04);
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-desktop .menu-item {
  position: relative;
  margin-left: 16px;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.nav-link-desktop::after {
  content: "";
  position: absolute;
  top: 42%;
  right: -3px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  transition: 0.1s linear;
  border-bottom: 2px solid #82269E;
  border-right: 2px solid #82269E;
}
.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background-color: #FEFBFF;
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.3750076294px 24.1176586151px rgba(169, 80, 196, 0.05), 0px 2.3096878529px 3.6230399609px rgba(169, 80, 196, 0.03), 0px 6.3859915733px 10.017241478px rgba(169, 80, 196, 0.04);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}
.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}
.nav-link-dropdown::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #A950C4;
  transition: 0.5s ease;
}
.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: block;
  }
}

.menu-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .menu-mobile {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */