// Brand Colors

// Brand-colors
$primary-normal: #82269E;
$primary-dark: #701F88;
$primary-light: #9C4FB4;

$secondary-normal: #A950C4;
$secondary-dark: #9142A8;
$secondary-light: #BB71D2;

// Neutral-colors
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #F7F2FA;
$white-dark: #EDEAEF;
$white-light: #FEFBFF;

// Gray-scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

// Auxiliary-colors
$red-normal: #EB3D3D;
$red-dark: #D03333;
$red-light: #F05454;

$green-normal: #32D957;
$green-dark: #28BB49;
$green-light: #50E170;

$yelllow-normal: #FFCE52;
$yelllow-dark: #D9B043;
$yelllow-light: #FFD76B;